body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

/* Adding New Styles */

#rubber-duck {
	width: 100px;
}

.bulleted li {
	padding: 5px 0;
}

#refer {
	display: flex;
}

#refer > input {
	padding: 5px 0;
	margin: 0 10px;
}

#search {
	margin-top: 40px;
}

#search-form {
	display: flex;
	justify-content: end;
}

#search-form > input {
	height: 25px;
	border-radius: 3px;
	border: solid lightgray .5px;
}

#search-form > #button-go {
	height: 28px;
	cursor: pointer;
}

.data-info {
	width: 100%;
	height: 100%;
	border: solid lightcyan .5px;
	margin-top: 50px;
	border-radius: 5px;
}

#title {
	font-size: 25px;
	margin-left: 20px;
	margin-top: 15px;
	color: blue;
	text-decoration: underline;
}

#subtitle {
	font-size: 16px;
	font-weight: 600;
	margin-left: 20px;
}

#desc {
	font-style: italic;
	font-size: 15px;
	font-weight: 300;
	margin: 0 10px 20px 10px;
}

.prep {
	margin: 0 10px 20px 20px;
	font-size: 15px;
	font-weight: 300;
}

.colors {
	margin: 30px;
}

.buttons {
	height: 35px;
	border-radius: 3px;
	border: solid gray 0.5px;
}

/* Park */
.header-park {
	text-align: center;
}

.container {
	width: 100%;
	margin: 0 auto;
	background: white;
}

.content {
	padding: 30px;
}

.image-park {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

a.link-park {
	color: hwb(240 29% 0%);
	text-decoration: none;
}

a:hover.link-park {
	color: red;
	font-weight: bold;
}

span#show-park {
	font-size: 18px;
	font-weight: 900;
	font-style: italic;
	color: red;
}